// about

.about{
    font-family: $news;
    font-size: 1.3em;
    color: white;
    &__more{
        font-family: $news;
        font-size: 1.3em; 
        color: white;
    }
    &__heading{
        margin: 10% 0 30px 0;
        font-family: $bree;
        color: rgb(255, 255, 255);
    }
    &__button{
        text-align: center;
        padding: 15px 25px; 
        margin: 20px auto 20px auto;
        width: 400px;
        border: 3px solid rgb(185, 90, 0);
        border-radius: 15px 15px;
        background-color: rgb(252, 101, 0);
        color: white;
        font-size: 1.5em;
        font-family: $bree;
        &:hover{
            background-color: rgb(231, 130, 15);
        }
    }
}