// Cards

.card{
    font-family: $bree;
    text-align: center;
    border-radius: 4px;
    padding: 20px;
    margin-top: 30px;
    &__name{
        font-size: 2em;
        color: rgb(255, 255, 255);
    }
    &__button{
        text-align: center;
        padding: 15px 25px; 
        margin: 15px auto 10px auto;
        width: 200px;
        border: 3px solid rgb(185, 90, 0);
        border-radius: 15px 15px;
        background-color:  rgb(252, 101, 0);
        color: white;
        font-size: 1.5em;
        &:hover{
            background-color: rgb(231, 130, 15);
        }
    }   
    &__header{
        margin-top: 40px;
    }
    img{
        width: 100%;
        border-radius: 15px;
    }
}