// contact

.contact{
    padding: 20px;
    background-color: rgb(16, 16, 29);
    width: 800px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px 15px;
    &__text{
        margin: 10% auto 0 auto;
        font-family: $bree;
        color: rgb(255, 255, 255);
    }
    &__title{
        margin-right: 8px;
        color:  rgb(255, 255, 255);
    }
    &__input{
        margin: 15px 30px 15px 0;
        padding: 5px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 15px 15px;
    }
    &__button{
        padding: 4px 20px;
        margin-left: 15px;
        color: white;
        border: 2px solid rgb(185, 90, 0);
        border-radius: 15px 15px;
        background-color: rgb(252, 101, 0);
        font-family: $bree;
        font-size: 1.2em;
        &:hover{
        background-color: rgb(231, 130, 15);
        }
    }
    &__input--first{
        margin-left: 60px;
    }
    &__input--mail{
        margin-left: 60px;
    }
    &__input--last{
        margin-left: 30px;
    }
    &__error{
        color: rgb(155, 155, 155);
    }
}