// contact

.contact{
    padding: 20px;
    background-color: rgb(136, 214, 166);
    width: 800px;
    border: 3px solid rgb(96, 172, 136);
    border-radius: 15px 15px;
    &__text{
        margin: 10% auto 0 auto;
        font-family: $bree;
        color: rgb(50, 128, 82);
    }
    &__title{
        margin-right: 8px;
        color:  rgb(24, 71, 44);
    }
    &__input{
        margin: 15px 30px 15px 0;
        padding: 5px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 15px 15px;
    }
    &__button{
        padding: 4px 20px;
        margin-left: 15px;
        color: white;
        border: 2px solid rgb(96, 172, 136);
        border-radius: 15px 15px;
        background-color: rgb(42, 146, 85);
        font-family: $bree;
        font-size: 1.2em;
        &:hover{
        background-color: green;
        }
    }
    &__input--first{
        margin-left: 60px;
    }
    &__input--mail{
        margin-left: 60px;
    }
    &__input--last{
        margin-left: 30px;
    }
}